[submodule "janus/vimerl"]
	path = janus/vimerl
	url = https://github.com/oscarh/vimerl.git
[submodule "janus/vim-colors-solarized"]
	path = janus/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "janus/vim-racket"]
	path = janus/vim-racket
	url = git://github.com/patrickboe/vim-racket.git
[submodule "janus/vim-kolor"]
	path = janus/vim-kolor
	url = https://github.com/zeis/vim-kolor.git
[submodule "janus/vim-niji"]
	path = janus/vim-niji
	url = git://github.com/amdt/vim-niji.git
